<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div>
    <span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <!--
        For DOM event, $event is a DOM event object
        Has $event.target.value
       -->
      <input [(ngModel)]="hero.name" placeholder="name" (input)="changed()">
    </label>
  </div>
</div>
<button (click)="goBack()">go back</button>
<!--
Template binding works with DOM properties and events, not HTML attributes
Attributes initialize DOM properties and then they are done. Property values can change; attribute values can't.
-->
<button [disabled]="isUnchanged" (click)="save()">save</button>
<button (click)="delete()">delete</button>
