/**
  :host
    target element that hosts the component
  :host(.active)
    including other selector
  :host-context(.theme-light)
    looks for any ancestor of the component
  */
:host {
  border: 1px dashed grey;
  display: block;
}

label {
  color: #607d8b;
  display: inline-block;
  font-weight: bold;
  margin: 0.5em 0;
  width: 3em;
}

input {
  font-size: 1em;
  height: 2em;
  padding-left: 0.4em;
}

button {
  background-color: #eee;
  border: 0;
  border-radius: 4px;
  cursor: hand;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  padding: 5px 10px;

  &:hover {
    background-color: #cfd8dc;
  }

  &:disabled {
    color: #ccc;
    cursor: auto;
  }
}
