/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
  color: #999;
  font-size: 1.2em;
}
h2 {
  padding-top: 0;
  margin-top: 0;
  font-size: 2em;
}
nav a {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #eee;
  border-radius: 4px;
  text-decoration: none;
}

nav a:visited,
a:link {
  color: #607d8b;
}

nav a:hover {
  background-color: #cfd8dc;
  color: #039be5;
}
nav a.active {
  color: #039be5;
}
