/* HeroesComponent's private CSS styles */
.heroes {
  list-style-type: none;
  margin: 0 0 2em;
  padding: 0;
  width: 15em;
}
.heroes li {
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
  height: 1.6em;
  margin: 0.5em;
  padding: 0.3em 0;
  position: relative;
}

.heroes li:hover {
  background-color: #ddd;
  color: #607d8b;
  left: 0.1em;
}

.heroes a {
  color: #888;
  display: block;
  position: relative;
  text-decoration: none;
  width: 250px;
}

.heroes a:hover {
  color: #607d8b;
}

.heroes .badge {
  background-color: #607d8b;
  border-radius: 4px 0 0 4px;
  color: white;
  display: inline-block;
  font-size: small;
  height: 1.8em;
  left: -1px;
  line-height: 1em;
  margin-right: 0.8em;
  min-width: 16px;
  padding: 0.8em 0.7em 0;
  position: relative;
  text-align: right;
  top: -4px;
}

button {
  background-color: #eee;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial, sans-serif;
  padding: 5px 10px;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  background-color: gray !important;
  color: white;
  left: 194px;
  position: relative;
  top: -32px;
}
